<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fl.wdl.mapper.SongMapper" >
  <select id="getListByStyle" resultType="com.fl.wdl.pojo.Song">
  	select song.* from song_style,song where style_id=#{id} and song_id=song.id
  </select>
  <update id="addCommentCount">
  	update song set comment_count=comment_count+1 where id=#{id}
  </update>
  <update id="reduceCommentCount">
  	update song set comment_count=comment_count-1 where id=#{id}
  </update>
</mapper>