<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fl.wdl.mapper.UserSongMapper" >
  <select id="getListByUserId" resultType="com.fl.wdl.pojo.UserSong">
  	select * from user_song where user_id=#{userId}
  </select>
  <select id="getAllCountGroupUser" resultType="java.lang.Integer">
  	select count(*) from user_song group by user_id
  </select>
</mapper>